WCFService/OsmParserTestApplication/Service References/ServiceReference1/ServiceGapslabs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53869/ServiceGapslabs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GaPSLabs.Geometry" />
  <xs:import schemaLocation="http://localhost:53869/ServiceGapslabs.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GapslabWCFservice" />
  <xs:import schemaLocation="http://localhost:53869/ServiceGapslabs.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53869/ServiceGapslabs.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OsmSharp.Routing" />
  <xs:import schemaLocation="http://localhost:53869/ServiceGapslabs.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Aram.OSMParser" />
  <xs:element name="GetOSMmeshFromOsmId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OSMid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GaPSLabs.Geometry" minOccurs="0" name="MinPointOnMap" nillable="true" type="q1:Vector3" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bounds" nillable="true" type="q2:BoundsWCF" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GaPSLabs.Geometry" minOccurs="0" name="properties" nillable="true" type="q3:MapProperties" />
        <xs:element minOccurs="0" name="connPostGreSql" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OSMObjectType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOSMmeshFromOsmIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GaPSLabs.Geometry" minOccurs="0" name="GetOSMmeshFromOsmIdResult" nillable="true" type="q4:GameObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRelationIdsResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsContainingMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="memberIds" nillable="true" type="q6:ArrayOfstring" />
        <xs:element minOccurs="0" name="memberType" type="xs:int" />
        <xs:element minOccurs="0" name="memberRole" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationsContainingMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRelationsContainingMembersResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetRelationMembersResult" nillable="true" type="q8:ArrayOfMemberWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWayIdsResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsWithIdCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdCriteria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsWithIdCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWayIdsWithIdCriteriaResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsInStockholm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsInStockholmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWayIdsInStockholmResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsInBound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bound" nillable="true" type="q12:BoundsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsInBoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWayIdsInBoundResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationBuildingsInBound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bound" nillable="true" type="q14:BoundsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationBuildingsInBoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRelationBuildingsInBoundResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsWithTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bound" nillable="true" type="q16:BoundsWCF" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tags" nillable="true" type="q17:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayIdsWithTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWayIdsWithTagsResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayExtIdsInBound">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bound" nillable="true" type="q19:BoundsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayExtIdsInBoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWayExtIdsInBoundResult" nillable="true" type="q20:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeIdsInBoundWithInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bound" nillable="true" type="q21:BoundsWCF" />
        <xs:element minOccurs="0" name="infoTag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeIdsInBoundWithInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNodeIdsInBoundWithInfoResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeIdsInBoundWithKeyValueTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="bound" nillable="true" type="q23:BoundsWCF" />
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="infoTag" nillable="true" type="q24:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeIdsInBoundWithKeyValueTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetNodeIdsInBoundWithKeyValueTagResult" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetNodeInfoResult" nillable="true" type="q26:OsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayExtNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wayid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayExtNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetWayExtNodesResult" nillable="true" type="q27:ArrayOfOsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wayid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetWayNodesResult" nillable="true" type="q28:ArrayOfOsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="relationid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelationTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetRelationTagsResult" nillable="true" type="q29:ArrayOfTagWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wayid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetWayTagsResult" nillable="true" type="q30:ArrayOfTagWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayTagsStockholm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wayid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWayTagsStockholmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetWayTagsStockholmResult" nillable="true" type="q31:ArrayOfTagWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNodeTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetNodeTagsResult" nillable="true" type="q32:ArrayOfTagWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBounds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoundsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetBoundsResult" nillable="true" type="q33:BoundsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberType" type="xs:int" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetRoutePathResult" nillable="true" type="q34:ArrayOfOsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutePathCustom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="memberType" type="xs:int" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoutePathCustomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetRoutePathCustomResult" nillable="true" type="q35:ArrayOfOsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRouter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeRouterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeRouterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolvePoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/OsmSharp.Routing" minOccurs="0" name="vehicle" type="q36:VehicleEnum" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="currentNode" nillable="true" type="q37:OsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolvePointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="ResolvePointResult" nillable="true" type="q38:OsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RouteUsingDykstra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/OsmSharp.Routing" minOccurs="0" name="vehicle" type="q39:VehicleEnum" />
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="pointA" nillable="true" type="q40:OsmNodeWCF" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="pointB" nillable="true" type="q41:OsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RouteUsingDykstraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="RouteUsingDykstraResult" nillable="true" type="q42:ArrayOfOsmNodeWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeometryCollectionSingleObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeLargeObject" type="xs:boolean" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeometryCollectionSingleObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Aram.OSMParser" minOccurs="0" name="GetGeometryCollectionSingleObjectResult" nillable="true" type="q43:geometryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeometryCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includeLargeObject" type="xs:boolean" />
        <xs:element minOccurs="0" name="SearchCriteriaWhereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeometryCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Aram.OSMParser" minOccurs="0" name="GetGeometryCollectionResult" nillable="true" type="q44:ArrayOfgeometryCollection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeometryCollectionMinimal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchCriteriaWhereClause" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeometryCollectionMinimalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGeometryCollectionMinimalResult" nillable="true" type="q45:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSimulationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeSimulationListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeSimulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimulationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisposeSimulationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DisposeSimulationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initial" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRandomIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateRandomIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalTimesteps">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalTimestepsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalTimestepsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalTimestepsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimulationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalTimestepsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalTimestepsListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimestepAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimestepAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetTimestepAtResult" nillable="true" type="q46:TimeStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimestepAtList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="SimulationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimestepAtListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetTimestepAtListResult" nillable="true" type="q47:TimeStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleTimestepAtList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
        <xs:element minOccurs="0" name="SimulationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimpleTimestepAtListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GapslabWCFservice" minOccurs="0" name="GetSimpleTimestepAtListResult" nillable="true" type="q48:SimpleTimeStep" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimulationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationNameListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationDescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationDescriptionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimulationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSimulationDescriptionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSimulationDescriptionListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSimulationLoaded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSimulationLoadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSimulationLoadedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSimulationLoadedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SimulationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsSimulationLoadedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsSimulationLoadedListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSUMOFCDSimulation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSUMOFCDSimulationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSUMOFCDSimulationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ObjectIDPostfix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSUMOFCDSimulationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadSUMOFCDSimulationListResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>