WCFService/OsmParserTestApplication/Service References/ServiceReference1/ServiceGapslabs5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aram.OSMParser" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aram.OSMParser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="geometryCollection">
    <xs:sequence>
      <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gisId" type="xs:int" />
      <xs:element minOccurs="0" name="gisType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="largeObject" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="latitude" type="xs:int" />
      <xs:element minOccurs="0" name="longitude" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pivot" nillable="true" type="tns:Vector3GaPS" />
      <xs:element minOccurs="0" name="version" nillable="true" type="tns:GaPSlabsVersion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="geometryCollection" nillable="true" type="tns:geometryCollection" />
  <xs:complexType name="Vector3GaPS">
    <xs:sequence>
      <xs:element minOccurs="0" name="x" type="xs:float" />
      <xs:element minOccurs="0" name="y" type="xs:float" />
      <xs:element minOccurs="0" name="z" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vector3GaPS" nillable="true" type="tns:Vector3GaPS" />
  <xs:complexType name="GaPSlabsVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="major" type="xs:int" />
      <xs:element minOccurs="0" name="minor" type="xs:int" />
      <xs:element minOccurs="0" name="versionTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GaPSlabsVersion" nillable="true" type="tns:GaPSlabsVersion" />
  <xs:complexType name="ArrayOfgeometryCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="geometryCollection" nillable="true" type="tns:geometryCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfgeometryCollection" nillable="true" type="tns:ArrayOfgeometryCollection" />
</xs:schema>